* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-SemiBold.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url(../fonts/Merriweather-Black.ttf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url(../fonts/Merriweather-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SedgwickAve';
    src: url(../fonts/SedgwickAve-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}



.section-shapka{
    background-size: cover;
    background-position: center;
    height: 1100px;
    position: relative;
    background: url(../img/4.png);
}
.section-shapka .fon{
    position: absolute;
    width: 200px;
}
.section-shapka .container .navbar{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}
.section-shapka .navbar .buton button{
    color: #f87932;
    padding: 10px 30px;
    border: none;
    border-radius: 0px 0px 15px 15px;
    background-color: #FFFFFF;
    font-size: 20px;
    font-family: 'Lato';
    font-weight: 400;
    letter-spacing: 4px;
    height: 50px;
}
.section-shapka .navbar .buton-img button{
    padding: 10px 30px;
    border-radius: 0px 0px 15px 15px;
    border: none;
    background-color: #FFFFFF;
    height: 100px;
    width: 130px;
}
.section-shapka .cyprus{
    display: flex;
    margin-top: 130px;
}
.section-shapka .cyprus .text h1{
    font-family: 'Merriweather';
    font-size: 80px;
    font-weight: 700;
    margin: 1;
    color: #f87932;
}
.section-shapka .cyprus .text h2{
    color: #38bfa7;
    font-family: 'Merriweather';
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 88px;
}
.section-shapka .container .txt .trip{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;
    width: 213px;
    height: 62px;
    background-color: #F87932;
    padding-left: 10px;
    letter-spacing: 5px;
    border: none;
}
.section-shapka .container .cyprus .kubiki img {
    height: 610px;
    width: 610px;
    margin-left: 100px;
}
.section-shapka .buton{
    height: 50px;
}


.section-relax{
    margin-top: 80px;
    position: relative;
}
.section-relax .container .img{
    background-image: url(../img/6.png);
    width: 720px;
    height: 600px;
    position: absolute;
    background-size: cover;
    left: 120px;
    bottom: 80px;
}
.section-relax .container{
    display: flex;
    justify-content: center;
}
.section-relax .one{
    width: 50%;
}
.section-relax .two{
    width: 50%;
}
.section-relax .container .two img{
    width: 100%;
}
.section-relax .one h2{
    font-size: 24px;
    font-family: 'Lato';
    font-weight: 300;
    letter-spacing: 6px;
}
.section-relax .one h3{
    font-size: 60px;
    font-family: 'Merriweather';
    font-weight: 700;
}
.section-relax .one p{
    font-size: 18px;
    font-family: 'Lato';
    font-weight: 300;
    width: 75%;
    margin-top: 20px;
    margin-bottom: 100px;
    letter-spacing: 4px;
}
.section-relax .buton2 button{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;
    width: 213px;
    height: 62px;
    background-color: #F87932;
    padding-left: 10px;
    letter-spacing: 5px;
}

.section-life{
    background-image: url(../img/Mask.png);
    background-size: cover;
    height: 900px;
    margin-top: 100px;
}
.section-life .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-life .container .text h4{
    color: white;
    margin-top: 350px;
    text-align: center;
    font-size: 50px;
    font-family: 'Merriweather';
    font-weight: 700;
}
.section-life .container .text p{
    font-size: 20px;
    font-family: 'Lato';
    font-weight: 700;
    letter-spacing: 6px;
    color: white;
    margin-top: 30px;
    text-align: center;
}
.section-life .container .button img{
    width: 40%;
}
.section-life .container .button{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.section-life .container .kubs{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.section-life .container .kubs img{
    width: 70%;
}
.section-life .container .kubs2 img{
    width: 0;
}

.section-trav .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 180px;
}
.section-trav .container .txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-trav .container .txt h4{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 50px;
}
.section-trav .container .txt h5{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
}
.section-trav .container .txt p{
    display: flex;
    justify-content: center;
    font-family: 'Lato';
    font-weight: 200;
    font-size: 15px; 
}
.section-trav .container .txt img{
    width: 200px;
    margin-left: 500px;
}
.section-trav .container .photo{
    display: grid;
    grid-template-columns: repeat(4, 282px);
    grid-template-rows: repeat(2, 282px);
    gap: 20px;
    padding: 50px 0;
}
.section-trav .container .photo .foto:nth-child(1){
    background-image: url(../img/Rectangle\ 79.png);
    background-size: cover;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 1;
}
.section-trav .container .photo .foto:nth-child(2){
    background-image: url(../img/Rectangle\ 82.png);
    background-size: cover;
    background-position: center;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 2;
}
.section-trav .container .photo .foto:nth-child(3){
    background-image: url(../img/Rectangle\ 81.png);
    background-size: cover;
    background-position: center;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 1;
    grid-column-end: 5;
}
.section-trav .container .photo .foto:nth-child(4){
    background-image: url(../img/Rectangle\ 80.png);
    background-size: cover;
    background-position: center;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 2;
}
.section-trav .container .photo .foto:nth-child(5){
    background-image: url(../img/Rectangle\ 83.png);
    background-size: cover;
    background-position: center;
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
}
.section-trav .container .photo .foto:nth-child(6){
    background-image: url(../img/Rectangle\ 84.png);
    background-size: cover;
    background-position: center;
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 3;
}
.section-trav .container .buton{
    display: flex;
    justify-content: center;
}
.section-trav .container .buton button{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;
    width: 213px;
    height: 62px;
    background-color: #F87932;
    padding-left: 10px;
    letter-spacing: 5px;
}
